h1 {
    color: #337ab7;
}

th {
    background-color: #4587c0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

input[type=submit]:hover{
    background: violet;
}

