<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    {% if filtered_entries %}
        <table>
            <tr>
                <th>File path</th>
                <th>File type</th>
                <th>File size</th>
                <th>Last modification date</th>
            </tr>                        
        {% for entry in filtered_entries %}
            <tr>
                <td>{{ entry.filefullpath }}</td>
                <td>{{ entry.filetype }}</td>
                <td>{{ entry.filesize|filesizeformat }}</td> <!--shows e.g. MB when it is MiB, i.e. actually divided by 1024-->
                <td>{{ entry.filelastmodificationdate }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No entries matched your search.</p>
    {% endif %}
  </body>
  <!--
    {% if filtered_entries %}
        <ul>
        {% for entry in filtered_entries %}
            <li>{{ entry.filefullpath}} {{entry.filetype}} {{entry.filesize}} {{entry.filelastmodificationdate }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No entries matched your search.</p>
    {% endif %}
  -->
</html>